<!DOCTYPE html>
<html>
  <head>
    <title>AP chat!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to the chatroom baby, YEAH!</h1>
    <h3>this is a groovy place!</h3>
    <form action='/login' method='post'>
	    <h2>Tell me your name love:</h2>
	    <input type='text' name='name'>
	    <h2>Whats your favorite colour, darling?</h2>
	    <select name='color'>
	    	<option selected>black</option>
	    	<option >red</option>
	    	<option >yellow</option>
	    	<option >purple</option>
	    	<option >blue</option>
	    </select>
	    <input type='submit' value='CHAT BABY YEAH!'>
    </form>
    <img src="http://www.quotesworthrepeating.com/wp-content/uploads/2012/01/Austin-Powers-1-Movie-Quotes.jpg">
  </body>
</html>